{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    <style>
        /* Espacement entre les paragraphes et titres */
        p {
            margin-bottom: 20px;
        }

        h2, h3, h4 {
            margin-top: 30px;
            margin-bottom: 15px;
        }

        h1 {
            margin-bottom: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>

    <p>
        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Les perles d'Egypte l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>

    <h2>Édition du site</h2>

    <p>
        Le présent site, accessible à l’URL <a href="https://simplondevgrenoble.nohost.me/sara/LesperlesdEgypte/">https://simplondevgrenoble.nohost.me/sara/LesperlesdEgypte/</a> (le « Site »), est édité par :
    </p>

    <p>
        Sara PITHION, résidant 48 rue Paul Langevin, de nationalité Française (France), née le 28/10/1989.
    </p>

    <h3>Hébergement</h3>

    <p>
        Le Site est hébergé par la société Yunohost, située 5 rue Victor Hugo 38000 Grenoble (contact téléphonique ou email : +33601020304).
    </p>

    <h4>Directeur de publication</h4>

    <p>
        Le Directeur de la publication du Site est Sara PITHION.
    </p>

    <h4>Nous contacter</h4>

    <p>
        Par téléphone : +33659696517<br>
        Par email : <a href="mailto:sara.pithion.simplon@gmail.com">sara.pithion.simplon@gmail.com</a><br>
        Par courrier : 48 rue Paul Langevin
    </p>

    <h4>Données personnelles</h4>

    <p>
        Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).
    </p>

    <p>Génération des mentions légales par Legalstart.</p>

    <h5> Photos libres de droit </h5>

    <p> Les photos ont été prises sur des sites à diffusion libre de droit. Ces sites sont
{% endblock %}