{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
          {% include('includes/header.html.twig') %}

  <div class="inscription">

        <h1 class="titreInscription">Inscrivez-vous!</h1>

    {{ include('utilisateur/_form.html.twig') }}

    </div>
{% endblock %}
