<div class="header">
        <div class="titleImg">
        <img class="logo" src="/images/logo.png">
        <h1 class="title">LES PERLES D'EGYPTE </h1>
        </div>
                <div class="buttonHeader">
        <button class="button">Articles</button>
        <button class="button">Evènements</button>
        <button class="button">Contact</button>
</div>
</div>