@media (max-width: 768px) {
    .categorie1,
    .categorie2,
    .categorie3 {
        flex-direction: column;
        width: 100%;
    }
}

.imageAccueil {
    background-image: linear-gradient(to left, transparent, #f5f5f5 85%),
        url('../../images/boat.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
}

@media (max-width: 1024px) {
    .imageAccueil {
        background-size: contain; /* Garde toute l'image visible sans rognage */
        height: auto; /* Laisse la hauteur s'adapter automatiquement */
        min-height: 50vh; /* Garde au moins 50% de la hauteur de l'écran */
        width: 100vw;
    }
}

/* Pour les smartphones */
@media (max-width: 600px) {
    .imageAccueil {
        height: auto;
        background-size: contain; /* L'image est complètement visible */
        background-position: top center; /* L'image est centrée verticalement et horizontalement */
        width: 100vw;
        min-height: 50vh;
    }
}

.texteAccueil {
    padding-top: 0;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    margin-top: 0;
    height: auto;
    font-size: 1.2rem;
    padding: 2%;
}

.titreCategories {
    border-bottom: 2px;
}

.largeur {
    width: 20%;
}

.categorie1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8d4;
    border: 1px solid #000;
    border-radius: 24px;
    width: fit-content;
    height: 159px;
    margin: auto;
    margin-bottom: 6%;
}

.categorie1 img {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-right: 2px solid #000;
    padding-right: 85px;
    padding-left: 50px;
    height: 100%;
}

.categorie1 button {
    font-size: 24px;
    text-align: center;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #fff8d4;
    border: none;
}
.categorie2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8d4;
    border: 1px solid #000;
    border-radius: 24px;
    width: fit-content;
    height: 159px;
    margin: auto;
    margin-bottom: 6%;
}

.categorie2 img {
    width: auto;
    height: 100%;
    max-width: 100%;
    border-right: 2px solid #000;
    padding-right: 102px;
    padding-left: 50px;
    height: 100%;
    background-color: #fff8d4;
    border-radius: 100px 0px 0px 100px;
}

.categorie2 button {
    font-size: 24px;
    text-align: center;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #fff8d4;
    border: none;
}

.categorie3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8d4;
    border: 1px solid #000;
    border-radius: 24px;
    width: fit-content;
    height: 159px;
    margin: auto;
    margin-bottom: 6%;
}

.categorie3 img {
    width: auto;
    height: 100%;
    max-width: 100%;
    border-right: 2px solid #000;
    padding-right: 58px;
    padding-left: 50px;
}

.categorie3 button {
    font-size: 24px;
    text-align: center;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #fff8d4;
    border: none;
}

@media (max-width: 480px) {
    .titreEvènements {
        border-bottom: 2px;
        font-size: 24px;
        margin-left: 20px;
    }
}

.largeur1 {
    width: 27%;
    margin-left: 80px;
}

.actualité1 {
    background-color: #fff;
    border: 1px solid #000;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 18px;
    line-height: 1, 8px;
    border-radius: 9px;
    padding: 20px;
    position: relative;
    margin: 5px 20px;
}

.actualité1 p {
    margin-bottom: 10px;
}

.event-title {
    color: '#E4C52';
    font-size: 32px;
}

.event-date {
    color: rgb(113 113 122);
    font-size: 16px;
}

.categories-container,
.actus {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-categories {
    flex-direction: column;
    width: unset;
}

.categories-container {
    align-items: baseline;
}

.categories-title {
    width: 100%;
    margin-bottom: 60px;
}

.categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titreEvènements {
    margin-left: 80px;
}

.texte-accueil {
    display: flex;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border-radius: 9px;
    padding: 20px;
    font-size: 14px;
    justify-content: space-between;
    max-width: 1500px;
    height: unset;
}

.texte-accueil img,
.texte-accueil p {
    width: 100%; /* Chaque partie prend la largeur complète */
    margin-bottom: 10px;
}

.texte-accueil img {
    order: 1;
    width: 45%;
    max-width: 350px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10%;
    box-shadow: gray 10px 10px 50px;
}

.texte-accueil p {
    order: 2;
    width: 40%;
    font-size: 22px;
    object-fit: cover;
    text-align: justify;
    color: black;
    line-height: 40px;
    font-weight: 700;
}

.textes-conteneurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.textes-conteneurs .texte-accueil:nth-child(2) p {
    order: 1;
}

.textes-conteneurs .texte-accueil:nth-child(2) img {
    order: 2;
    height: 240px;
    margin-right: 200px;
}
