@media (max-width: 768px) {
    .imageAccueil {
        background-size: cover;
        background-position: center;
        height: 50vh;
    }
    .texteAccueil {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20 px auto;
    }
    .buttonHome {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .categorie1,
    .categorie2,
    .categorie3 {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 20px; /* Ajuste la marge pour plus d'espace entre les éléments */
    }

    .categorie1 img,
    .categorie2 img,
    .categorie3 img {
        max-width: 100%; /* Redimensionne les images pour occuper toute la largeur disponible */
        padding-left: 0px; /* Enlève un padding inutile */
    }

    .categorie1 button,
    .categorie2 button,
    .categorie3 button {
        font-size: 18px; /* Réduit la taille des boutons */
        padding-left: 30px;
        padding-right: 30px;
    }

    .actualité1 {
        font-size: 16px; /* Réduit la taille du texte */
        padding: 15px; /* Moins de padding pour ne pas trop prendre de place */
    }

    .texte-accueil p {
        font-size: 18px; /* Texte plus petit */
        line-height: 28px; /* Ajuste la hauteur de ligne */
    }
}

.imageAccueil {
    background-image: linear-gradient(to left, transparent, #f5f5f5 85%),
        url('../../images/boat.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
}
/* Texte d'accueil */
.texteAccueil {
    padding-top: 0;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    margin-top: 0;
    height: auto;
    font-size: 1.2rem;
    padding: 2%;
}

/* Boutons */
.buttonHome {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #e4c520;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Effet d'ombre */
}

.buttonHome:hover {
    background-color: #c7a019;
    transform: scale(1.05); /* Zoom léger au survol */
}

.buttonHome:active {
    transform: scale(0.95); /* Réduction légère lorsqu'on clique */
}

/* Catégories */
.categorie1,
.categorie2,
.categorie3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8d4;
    border: 1px solid #000;
    border-radius: 24px;
    width: fit-content;
    height: 159px;
    margin: auto;
    margin-bottom: 6%;
}

.categorie1 img,
.categorie2 img,
.categorie3 img {
    width: auto;
    height: 100%;
    max-width: 100%;
    border-right: 2px solid #000;
    padding-right: 0px;
    padding-left: 50px;
}

.categorie1 button,
.categorie2 button,
.categorie3 button {
    font-size: 24px;
    text-align: center;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #fff8d4;
    border: none;
}

/* Catégories spécifiques */
.categorie2 img {
    background-color: #fff8d4;
    border-radius: 100px 0px 0px 100px;
}

@media (max-width: 768px) {
    .categorie1,
    .categorie2,
    .categorie3 {
        flex-direction: column;
        width: 100%;
    }
}

/* Actualités */
.actualité1 {
    background-color: #fff;
    border: 1px solid #000;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.8;
    border-radius: 9px;
    padding: 20px;
    position: relative;
    margin: 5px 20px;
}

.actualité1 p {
    margin-bottom: 10px;
}

/* Styles de texte et images */
.textes-conteneurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.textes-conteneurs .texte-accueil:nth-child(2) p {
    order: 1;
}

.textes-conteneurs .texte-accueil:nth-child(2) img {
    order: 2;
    height: 240px;
    margin-right: 200px;
}

.texte-accueil {
    display: flex;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border-radius: 9px;
    padding: 20px;
    font-size: 14px;
    justify-content: space-between;
    max-width: 1500px;
    height: unset;
}

.texte-accueil img,
.texte-accueil p {
    width: 100%; /* Chaque partie prend la largeur complète */
    margin-bottom: 10px;
}

.texte-accueil img {
    order: 1;
    width: 45%;
    max-width: 350px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10%;
    box-shadow: gray 10px 10px 50px;
}

.texte-accueil p {
    order: 2;
    width: 40%;
    font-size: 22px;
    object-fit: cover;
    text-align: justify;
    color: black;
    line-height: 40px;
    font-weight: 700;
}

/* Conteneurs de catégories */
.categories-container,
.actus {
    padding: 50px;
    align-items: center;
}

.home-categories {
    flex-direction: column;
    width: unset;
}

.categories-container {
    align-items: baseline;
}

.categories-title {
    width: 100%;
    margin-bottom: 60px;
}

.categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.titreCategories {
    text-decoration: none;
}

.largeur {
    width: 18%;
}

.largeur1 {
    width: 27%;
    margin-left: 80px;
}
