.imageAccueil {
    background-image: url('/images/PhotoStatues.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    width: 99vw;
    margin-bottom: 50px;
}

.texteAccueil {
    font-size: 18px;
    padding: 20px;
}

.titreCategories {
    margin-top: 50px;
    border-bottom: 2px;
}

.largeur {
    width: 20%;
}

.categorie1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8d4;
    border: 1px solid #000;
    border-radius: 24px;
    width: fit-content;
    height: 159px;
    margin: auto;
    margin-bottom: 6%;
}

.categorie1 img {
    height: auto;
    border-right: 2px solid #000;
    padding-right: 85px;
    padding-left: 50px;
    height: 100%;
}

.categorie1 button {
    font-size: 24px;
    text-align: center;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #fff8d4;
    border: none;
}
.categorie2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8d4;
    border: 1px solid #000;
    border-radius: 24px;
    width: fit-content;
    height: 159px;
    margin: auto;
    margin-bottom: 6%;
}

.categorie2 img {
    height: auto;
    border-right: 2px solid #000;
    padding-right: 102px;
    padding-left: 50px;
    height: 100%;
    background-color: #fff8d4;
}

.categorie2 button {
    font-size: 24px;
    text-align: center;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #fff8d4;
    border: none;
}

.categorie3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8d4;
    border: 1px solid #000;
    border-radius: 24px;
    width: fit-content;
    height: 159px;
    margin: auto;
    margin-bottom: 6%;
}

.categorie3 img {
    width: 26%;
    height: 100%;
    border-right: 2px solid #000;
    padding-right: 58px;
    padding-left: 50px;
}

.categorie3 button {
    font-size: 24px;
    text-align: center;
    padding-left: 57px;
    padding-right: 57px;
    background-color: #fff8d4;
    border: none;
}

.titreEvènements {
    border-bottom: 2px;
    font-size: 30px;
    margin-left: 50px;
}

.largeur1 {
    width: 27%;
    margin-left: 80px;
}

.actualité1 {
    background-color: #fff;
    border: 1px solid #000;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 18px;
    line-height: 1, 8px;
    border-radius: 9px;
    padding: 20px;
    position:relative;
    margin:5px 20px;
}

.actualité1 p {
    margin-bottom: 10px;
}

.event-title {
    color: '#E4C52';
    font-size: 32px;
}

.event-date {
    color: rgb(113 113 122);
    font-size: 16px;
}

.categories-container,
.actus {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.texte-accueil {
    display: flex;
    align-items: center;
    margin: 30px auto;
    width: 45%;
    background-color: #000;
    color: #fff;
    border-radius: 9px;
    padding: 20px;
    font-size: 18px;
    justify-content: space-between;
    height: 200px;
}

.texte-accueil img {
    width: 45%;

    object-fit: cover;
}

.texte-accueil p {
    width: 45%;
    font-size: 16px;
    object-fit: cover;
}

.textes-conteneurs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


