* {
    margin: 0;
}
body {
    background-color: #f5f5f5;
    font-family: Ubuntu;
}

h1,
h2,
h3 {
    font-family: Dekko;
}

/* FONTS */
@font-face {
    font-family: Dekko;
    src: url(/fonts/Dekko-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(/fonts/ubuntu/Ubuntu-Regular.ttf);
}

/* BUTTON */
.btn-primary {
    padding: 1px 16px;
    background-color: #e4c520;
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: Ubuntu;
    transition: all 0.2s ease;
    text-decoration: none;
}
.btn-primary:hover {
    background-color: #ffe550;
}

/* Style pour le bouton actif */
.button.active {
    border-bottom: 2px solid #ffe550;
    font-weight: bold;
    padding-bottom: 10px;
}
