.header {
    position: relative;
    height: 120px;
    background-color: black;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link {
    text-decoration: none ;
    color:white;
}
.title {
    font-size: 25px;
    font-weight: 500;
}

.logo {
    width: 120px;
    height: auto;
}

.button {
    background-color: black;
    color: white;
    border: 0;
    margin: 37px;
    font-size: 18px;
    text-decoration: none;
}

.titleImg {
    display: flex;
    align-items: center;
}
