{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Créer un article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">Retourner à la liste</a>
{% endblock %}
